<div layout="row"  style="margin: 0 auto;">
    <md-button class="md-raised md-fab" ng-click="$ctrl.goToPreviousPage();" ng-disabled="$ctrl.data.currentPage === 1">Prev</md-button>
    <md-button class="md-raised md-fab" ng-repeat="n in $ctrl.range($ctrl.pages)" ng-click="$ctrl.goToPage(n);" ng-class="{ 'md-primary' : $ctrl.data.currentPage === n }">{{n}}</md-button>
    <md-button class="md-raised md-fab" ng-click="$ctrl.goToNextPage();" ng-disabled="$ctrl.data.currentPage === ($ctrl.data.pages - 1)"> Next </md-button>
</div>
